@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-justify:before {
  content: "\61";
}
.icon-ambulance:before {
  content: "\62";
}
.icon-amazon:before {
  content: "\63";
}
.icon-anchor:before {
  content: "\64";
}
.icon-android:before {
  content: "\65";
}
.icon-angle-double-down:before {
  content: "\66";
}
.icon-angle-double-left:before {
  content: "\67";
}
.icon-angle-double-right:before {
  content: "\68";
}
.icon-angle-double-up:before {
  content: "\69";
}
.icon-angle-down:before {
  content: "\6a";
}
.icon-angle-left:before {
  content: "\6b";
}
.icon-angle-right:before {
  content: "\6c";
}
.icon-angle-up:before {
  content: "\6d";
}
.icon-apple:before {
  content: "\6e";
}
.icon-adjust:before {
  content: "\6f";
}
.icon-bars:before {
  content: "\70";
}
.icon-balance-scale:before {
  content: "\71";
}
.icon-at:before {
  content: "\72";
}
.icon-battery-empty:before {
  content: "\73";
}
.icon-battery-three-quarters:before {
  content: "\74";
}
.icon-bed:before {
  content: "\75";
}
.icon-bell-o:before {
  content: "\76";
}
.icon-bell-slash-o:before {
  content: "\77";
}
.icon-behance:before {
  content: "\78";
}
.icon-bicycle:before {
  content: "\79";
}
.icon-binoculars:before {
  content: "\7a";
}
.icon-bullhorn:before {
  content: "\41";
}
.icon-calendar:before {
  content: "\42";
}
.icon-calendar-check-o:before {
  content: "\43";
}
.icon-calendar-minus-o:before {
  content: "\44";
}
.icon-calendar-plus-o:before {
  content: "\45";
}
.icon-calendar-times-o:before {
  content: "\46";
}
.icon-camera-retro:before {
  content: "\47";
}
.icon-cc-discover:before {
  content: "\48";
}
.icon-cc-jcb:before {
  content: "\49";
}
.icon-cc-mastercard:before {
  content: "\4a";
}
.icon-cc-paypal:before {
  content: "\4b";
}
.icon-cc-stripe:before {
  content: "\4c";
}
.icon-cc-visa:before {
  content: "\4d";
}
.icon-check:before {
  content: "\4e";
}
.icon-check-square-o:before {
  content: "\4f";
}
.icon-check-circle-o:before {
  content: "\50";
}
.icon-chain-broken:before {
  content: "\51";
}
.icon-clock-o:before {
  content: "\52";
}
.icon-cloud-download:before {
  content: "\53";
}
.icon-cloud-upload:before {
  content: "\54";
}
.icon-code-fork:before {
  content: "\55";
}
.icon-coffee:before {
  content: "\56";
}
.icon-cogs:before {
  content: "\57";
}
.icon-cog:before {
  content: "\58";
}
.icon-codepen:before {
  content: "\59";
}
.icon-comment-o:before {
  content: "\5a";
}
.icon-commenting-o:before {
  content: "\30";
}
.icon-comments-o:before {
  content: "\31";
}
.icon-connectdevelop:before {
  content: "\32";
}
.icon-compress:before {
  content: "\33";
}
.icon-copyright:before {
  content: "\34";
}
.icon-credit-card:before {
  content: "\35";
}
.icon-crosshairs:before {
  content: "\36";
}
.icon-diamond:before {
  content: "\37";
}
.icon-dribbble:before {
  content: "\38";
}
.icon-dropbox:before {
  content: "\39";
}
.icon-drupal:before {
  content: "\21";
}
.icon-digg:before {
  content: "\22";
}
.icon-envelope-o:before {
  content: "\23";
}
.icon-eraser:before {
  content: "\24";
}
.icon-eur:before {
  content: "\25";
}
.icon-facebook:before {
  content: "\26";
}
.icon-female:before {
  content: "\27";
}
.icon-fighter-jet:before {
  content: "\28";
}
.icon-fax:before {
  content: "\29";
}
.icon-film:before {
  content: "\2a";
}
.icon-files-o:before {
  content: "\2b";
}
.icon-file-word-o:before {
  content: "\2c";
}
.icon-filter:before {
  content: "\2d";
}
.icon-folder-o:before {
  content: "\2e";
}
.icon-folder-open:before {
  content: "\2f";
}
.icon-flag-o:before {
  content: "\3a";
}
.icon-flag-checkered:before {
  content: "\3b";
}
.icon-flask:before {
  content: "\3c";
}
.icon-gavel:before {
  content: "\3d";
}
.icon-gbp:before {
  content: "\3e";
}
.icon-gift:before {
  content: "\3f";
}
.icon-git:before {
  content: "\40";
}
.icon-github:before {
  content: "\5b";
}
.icon-globe:before {
  content: "\5d";
}
.icon-google:before {
  content: "\5e";
}
.icon-google-plus:before {
  content: "\5f";
}
.icon-hand-o-down:before {
  content: "\60";
}
.icon-hand-o-left:before {
  content: "\7b";
}
.icon-hand-o-right:before {
  content: "\7c";
}
.icon-hand-o-up:before {
  content: "\7d";
}
.icon-hand-peace-o:before {
  content: "\7e";
}
.icon-heart-o:before {
  content: "\5c";
}
.icon-heartbeat:before {
  content: "\e000";
}
.icon-history:before {
  content: "\e001";
}
.icon-home:before {
  content: "\e002";
}
.icon-hourglass-o:before {
  content: "\e003";
}
.icon-hourglass-half:before {
  content: "\e004";
}
.icon-html5:before {
  content: "\e005";
}
.icon-info-circle:before {
  content: "\e006";
}
.icon-info:before {
  content: "\e007";
}
.icon-inr:before {
  content: "\e008";
}
.icon-instagram:before {
  content: "\e009";
}
.icon-internet-explorer:before {
  content: "\e00a";
}
.icon-joomla:before {
  content: "\e00b";
}
.icon-key:before {
  content: "\e00c";
}
.icon-laptop:before {
  content: "\e00d";
}
.icon-lastfm:before {
  content: "\e00e";
}
.icon-leaf:before {
  content: "\e00f";
}
.icon-life-ring:before {
  content: "\e010";
}
.icon-linkedin:before {
  content: "\e011";
}
.icon-linux:before {
  content: "\e012";
}
.icon-list:before {
  content: "\e013";
}
.icon-list-ol:before {
  content: "\e014";
}
.icon-list-ul:before {
  content: "\e015";
}
.icon-location-arrow:before {
  content: "\e016";
}
.icon-lock:before {
  content: "\e017";
}
.icon-map-marker:before {
  content: "\e018";
}
.icon-map-o:before {
  content: "\e019";
}
.icon-mars-stroke:before {
  content: "\e01a";
}
.icon-money:before {
  content: "\e01b";
}
.icon-microphone:before {
  content: "\e01c";
}
.icon-microphone-slash:before {
  content: "\e01d";
}
.icon-paper-plane-o:before {
  content: "\e01e";
}
.icon-paperclip:before {
  content: "\e01f";
}
.icon-phone:before {
  content: "\e020";
}
.icon-pencil-square-o:before {
  content: "\e021";
}
.icon-pinterest-p:before {
  content: "\e022";
}
.icon-plane:before {
  content: "\e023";
}
.icon-power-off:before {
  content: "\e024";
}
.icon-refresh:before {
  content: "\e025";
}
.icon-registered:before {
  content: "\e026";
}
.icon-rss:before {
  content: "\e027";
}
.icon-scissors:before {
  content: "\e028";
}
.icon-signal:before {
  content: "\e029";
}
.icon-shopping-cart:before {
  content: "\e02a";
}
.icon-soundcloud:before {
  content: "\e02b";
}
.icon-star-o:before {
  content: "\e02c";
}
.icon-star-half-o:before {
  content: "\e02d";
}
.icon-star:before {
  content: "\e02e";
}
.icon-street-view:before {
  content: "\e02f";
}
.icon-stumbleupon:before {
  content: "\e030";
}
.icon-subway:before {
  content: "\e031";
}
.icon-thumbs-o-down:before {
  content: "\e032";
}
.icon-thumbs-o-up:before {
  content: "\e033";
}
.icon-thumbs-down:before {
  content: "\e034";
}
.icon-thumb-tack:before {
  content: "\e035";
}
.icon-thumbs-up:before {
  content: "\e036";
}
.icon-ticket:before {
  content: "\e037";
}
.icon-trash-o:before {
  content: "\e038";
}
.icon-trash:before {
  content: "\e039";
}
.icon-tripadvisor:before {
  content: "\e03a";
}
.icon-tree:before {
  content: "\e03b";
}
.icon-tint:before {
  content: "\e03c";
}
.icon-toggle-off:before {
  content: "\e03d";
}
.icon-toggle-on:before {
  content: "\e03e";
}
.icon-truck:before {
  content: "\e03f";
}
.icon-trophy:before {
  content: "\e040";
}
.icon-twitter:before {
  content: "\e041";
}
.icon-umbrella:before {
  content: "\e042";
}
.icon-university:before {
  content: "\e043";
}
.icon-tumblr:before {
  content: "\e044";
}
.icon-unlock:before {
  content: "\e045";
}
.icon-unlock-alt:before {
  content: "\e046";
}
.icon-usd:before {
  content: "\e047";
}
.icon-user-md:before {
  content: "\e048";
}
.icon-vimeo:before {
  content: "\e049";
}
.icon-volume-down:before {
  content: "\e04a";
}
.icon-volume-up:before {
  content: "\e04b";
}
.icon-wheelchair:before {
  content: "\e04c";
}
.icon-whatsapp:before {
  content: "\e04d";
}
.icon-users:before {
  content: "\e04e";
}
.icon-user:before {
  content: "\e04f";
}
.icon-user-plus:before {
  content: "\e050";
}
.icon-wikipedia-w:before {
  content: "\e051";
}
.icon-windows:before {
  content: "\e052";
}
.icon-wordpress:before {
  content: "\e053";
}
.icon-wrench:before {
  content: "\e054";
}
.icon-yelp:before {
  content: "\e055";
}
.icon-youtube:before {
  content: "\e056";
}
.icon-youtube-play:before {
  content: "\e057";
}
.icon-youtube-square:before {
  content: "\e058";
}
.icon-calendar-1:before {
  content: "\e059";
}
.icon-beer:before {
  content: "\e05a";
}
.icon-cloud-download-1:before {
  content: "\e05b";
}
.icon-cloud-upload-1:before {
  content: "\e05c";
}
.icon-database:before {
  content: "\e05d";
}
.icon-device-camera:before {
  content: "\e05e";
}
.icon-device-mobile:before {
  content: "\e05f";
}
.icon-briefcase:before {
  content: "\e060";
}
.icon-eye:before {
  content: "\e061";
}
.icon-file-pdf:before {
  content: "\e062";
}
.icon-git-branch:before {
  content: "\e063";
}
.icon-gift-1:before {
  content: "\e064";
}
.icon-gist-secret:before {
  content: "\e065";
}
.icon-git-merge:before {
  content: "\e066";
}
.icon-home-1:before {
  content: "\e067";
}
.icon-law:before {
  content: "\e068";
}
.icon-light-bulb:before {
  content: "\e069";
}
.icon-link:before {
  content: "\e06a";
}
.icon-megaphone:before {
  content: "\e06b";
}
.icon-microscope:before {
  content: "\e06c";
}
.icon-milestone:before {
  content: "\e06d";
}
.icon-mention:before {
  content: "\e06e";
}
.icon-mortar-board:before {
  content: "\e06f";
}
.icon-mute:before {
  content: "\e070";
}
.icon-pencil:before {
  content: "\e071";
}
.icon-paintcan:before {
  content: "\e072";
}
.icon-pin:before {
  content: "\e073";
}
.icon-plug:before {
  content: "\e074";
}
.icon-podium:before {
  content: "\e075";
}
.icon-pulse:before {
  content: "\e076";
}
.icon-puzzle:before {
  content: "\e077";
}
.icon-radio-tower:before {
  content: "\e078";
}
.icon-repo-forked:before {
  content: "\e079";
}
.icon-rocket:before {
  content: "\e07a";
}
.icon-search:before {
  content: "\e07b";
}
.icon-trashcan:before {
  content: "\e07c";
}
.icon-tools:before {
  content: "\e07d";
}
.icon-three-bars:before {
  content: "\e07e";
}
.icon-telescope:before {
  content: "\e07f";
}
.icon-tag:before {
  content: "\e080";
}
.icon-zap:before {
  content: "\e081";
}
.icon-split:before {
  content: "\e082";
}
.icon-plus:before {
  content: "\e083";
}
.icon-playback-pause:before {
  content: "\e084";
}
.icon-mail-reply:before {
  content: "\e085";
}
.icon-mail:before {
  content: "\e086";
}
.icon-key-1:before {
  content: "\e087";
}
.icon-airport-plane:before {
  content: "\e088";
}
.icon-bicycle-1:before {
  content: "\e089";
}
.icon-bullet-train:before {
  content: "\e08a";
}
.icon-bullet-train-outline-tunnleded:before {
  content: "\e08b";
}
.icon-bus-two:before {
  content: "\e08c";
}
.icon-car-front:before {
  content: "\e08d";
}
.icon-car-side:before {
  content: "\e08e";
}
.icon-clock-outline:before {
  content: "\e08f";
}
.icon-disabled:before {
  content: "\e090";
}
.icon-funicular:before {
  content: "\e091";
}
.icon-hanged-cabins:before {
  content: "\e092";
}
.icon-metro-line-three:before {
  content: "\e093";
}
.icon-monorail:before {
  content: "\e094";
}
.icon-motorcycle:before {
  content: "\e095";
}
.icon-pedestrian:before {
  content: "\e096";
}
.icon-police:before {
  content: "\e097";
}
.icon-police-1:before {
  content: "\e098";
}
.icon-regional-railways-two:before {
  content: "\e099";
}
.icon-rent-car-front:before {
  content: "\e09a";
}
.icon-rent-car-side:before {
  content: "\e09b";
}
.icon-scooter:before {
  content: "\e09c";
}
.icon-ship:before {
  content: "\e09d";
}
.icon-street-crossing:before {
  content: "\e09e";
}
.icon-sky-train:before {
  content: "\e09f";
}
.icon-taxi-front:before {
  content: "\e0a0";
}
.icon-taxi-park-front:before {
  content: "\e0a1";
}
.icon-taxi-park-side:before {
  content: "\e0a2";
}
.icon-trolleybus-two:before {
  content: "\e0a3";
}
.icon-trolleybus:before {
  content: "\e0a4";
}
.icon-tree-outline:before {
  content: "\e0a5";
}
.icon-tram-two:before {
  content: "\e0a6";
}
.icon-armchair-chair-streamline:before {
  content: "\e0a7";
}
.icon-arrow-streamline-target:before {
  content: "\e0a8";
}
.icon-backpack-streamline-trekking:before {
  content: "\e0a9";
}
.icon-bag-shopping-streamline:before {
  content: "\e0aa";
}
.icon-barbecue-eat-food-streamline:before {
  content: "\e0ab";
}
.icon-bomb-bug:before {
  content: "\e0ac";
}
.icon-book-dowload-streamline:before {
  content: "\e0ad";
}
.icon-barista-coffee-espresso-streamline:before {
  content: "\e0ae";
}
.icon-book-read-streamline:before {
  content: "\e0af";
}
.icon-browser-streamline-window:before {
  content: "\e0b0";
}
.icon-brush-paint-streamline:before {
  content: "\e0b1";
}
.icon-bubble-comment-streamline-talk:before {
  content: "\e0b2";
}
.icon-bubble-love-streamline-talk:before {
  content: "\e0b3";
}
.icon-computer-macintosh-vintage:before {
  content: "\e0b4";
}
.icon-computer-imac-2:before {
  content: "\e0b5";
}
.icon-computer-imac:before {
  content: "\e0b6";
}
.icon-coffee-streamline:before {
  content: "\e0b7";
}
.icon-clock-streamline-time:before {
  content: "\e0b8";
}
.icon-cocktail-mojito-streamline:before {
  content: "\e0b9";
}
.icon-chef-food-restaurant-streamline:before {
  content: "\e0ba";
}
.icon-chaplin-hat-movie-streamline:before {
  content: "\e0bb";
}
.icon-camera-photo-streamline:before {
  content: "\e0bc";
}
.icon-camera-streamline-video:before {
  content: "\e0bd";
}
.icon-camera-photo-polaroid-streamline:before {
  content: "\e0be";
}
.icon-caddie-shopping-streamline:before {
  content: "\e0bf";
}
.icon-computer-network-streamline:before {
  content: "\e0c0";
}
.icon-caddie-shop-shopping-streamline:before {
  content: "\e0c1";
}
.icon-computer-streamline:before {
  content: "\e0c2";
}
.icon-cook-pan-pot-streamline:before {
  content: "\e0c3";
}
.icon-crop-streamline:before {
  content: "\e0c4";
}
.icon-crown-king-streamline:before {
  content: "\e0c5";
}
.icon-danger-death-delete-destroy-skull-stream:before {
  content: "\e0c6";
}
.icon-dashboard-speed-streamline:before {
  content: "\e0c7";
}
.icon-delete-garbage-streamline:before {
  content: "\e0c8";
}
.icon-design-graphic-tablet-streamline-tablet:before {
  content: "\e0c9";
}
.icon-design-pencil-rule-streamline:before {
  content: "\e0ca";
}
.icon-diving-leisure-sea-sport-streamline:before {
  content: "\e0cb";
}
.icon-drug-medecine-streamline-syringue:before {
  content: "\e0cc";
}
.icon-database-streamline:before {
  content: "\e0cd";
}
.icon-earth-globe-streamline:before {
  content: "\e0ce";
}
.icon-eat-food-fork-knife-streamline:before {
  content: "\e0cf";
}
.icon-eat-food-hotdog-streamline:before {
  content: "\e0d0";
}
.icon-email-mail-streamline:before {
  content: "\e0d1";
}
.icon-edit-modify-streamline:before {
  content: "\e0d2";
}
.icon-envellope-mail-streamline:before {
  content: "\e0d3";
}
.icon-eye-dropper-streamline:before {
  content: "\e0d4";
}
.icon-first-aid-medecine-shield-streamline:before {
  content: "\e0d5";
}
.icon-factory-lift-streamline-warehouse:before {
  content: "\e0d6";
}
.icon-food-ice-cream-streamline:before {
  content: "\e0d7";
}
.icon-frame-picture-streamline:before {
  content: "\e0d8";
}
.icon-grid-lines-streamline:before {
  content: "\e0d9";
}
.icon-handle-streamline-vector:before {
  content: "\e0da";
}
.icon-happy-smiley-streamline:before {
  content: "\e0db";
}
.icon-headset-sound-streamline:before {
  content: "\e0dc";
}
.icon-ibook-laptop:before {
  content: "\e0de";
}
.icon-ink-pen-streamline:before {
  content: "\e0dd";
}
.icon-home-house-streamline:before {
  content: "\e0df";
}
.icon-ipad-streamline:before {
  content: "\e0e0";
}
.icon-iphone-streamline:before {
  content: "\e0e1";
}
.icon-ipod-mini-music-streamline:before {
  content: "\e0e2";
}
.icon-ipod-music-streamline:before {
  content: "\e0e3";
}
.icon-ipod-streamline:before {
  content: "\e0e4";
}
.icon-japan-streamline-tea:before {
  content: "\e0e5";
}
.icon-laptop-macbook-streamline:before {
  content: "\e0e6";
}
.icon-like-love-streamline:before {
  content: "\e0e7";
}
.icon-music-speaker-streamline:before {
  content: "\e0e8";
}
.icon-music-note-streamline:before {
  content: "\e0e9";
}
.icon-monocle-mustache-streamline:before {
  content: "\e0ea";
}
.icon-micro-record-streamline:before {
  content: "\e0eb";
}
.icon-map-streamline-user:before {
  content: "\e0ec";
}
.icon-map-pin-streamline:before {
  content: "\e0ed";
}
.icon-man-people-streamline-user:before {
  content: "\e0ee";
}
.icon-magnet-streamline:before {
  content: "\e0ef";
}
.icon-magic-magic-wand-streamline:before {
  content: "\e0f0";
}
.icon-macintosh:before {
  content: "\e0f1";
}
.icon-locker-streamline-unlock:before {
  content: "\e0f2";
}
.icon-lock-locker-streamline:before {
  content: "\e0f3";
}
.icon-link-streamline:before {
  content: "\e0f4";
}
.icon-notebook-streamline:before {
  content: "\e0f5";
}
.icon-paint-bucket-streamline:before {
  content: "\e0f6";
}
.icon-painting-pallet-streamline:before {
  content: "\e0f7";
}
.icon-painting-roll-streamline:before {
  content: "\e0f8";
}
.icon-pen-streamline:before {
  content: "\e0f9";
}
.icon-pen-streamline-1:before {
  content: "\e0fa";
}
.icon-pen-streamline-2:before {
  content: "\e0fb";
}
.icon-pen-streamline-3:before {
  content: "\e0fc";
}
.icon-picture-streamline-1:before {
  content: "\e0fd";
}
.icon-receipt-shopping-streamline:before {
  content: "\e0fe";
}
.icon-remote-control-streamline:before {
  content: "\e0ff";
}
.icon-photo-pictures-streamline:before {
  content: "\e100";
}
.icon-picture-streamline:before {
  content: "\e101";
}
.icon-streamline-umbrella-weather:before {
  content: "\e102";
}
.icon-streamline-sync:before {
  content: "\e103";
}
.icon-streamline-suitcase-travel:before {
  content: "\e104";
}
.icon-stamp-streamline:before {
  content: "\e105";
}
.icon-speech-streamline-talk-user:before {
  content: "\e106";
}
.icon-settings-streamline-2:before {
  content: "\e107";
}
.icon-shoes-snickers-streamline:before {
  content: "\e108";
}
.icon-settings-streamline-1:before {
  content: "\e109";
}
.icon-settings-streamline:before {
  content: "\e10a";
}
.icon-address:before {
  content: "\e10b";
}
.icon-adjust-1:before {
  content: "\e10c";
}
.icon-air:before {
  content: "\e10d";
}
.icon-book:before {
  content: "\e10e";
}
.icon-book-open:before {
  content: "\e10f";
}
.icon-brush:before {
  content: "\e110";
}
.icon-bucket:before {
  content: "\e111";
}
.icon-feather:before {
  content: "\e112";
}
.icon-gauge:before {
  content: "\e113";
}
.icon-graduation-cap:before {
  content: "\e114";
}
.icon-home-2:before {
  content: "\e115";
}
.icon-mobile:before {
  content: "\e116";
}
.icon-monitor:before {
  content: "\e117";
}
.icon-linkedin-1:before {
  content: "\e118";
}
.icon-pinterest:before {
  content: "\e119";
}
.icon-note:before {
  content: "\e11a";
}
.icon-menu:before {
  content: "\e11b";
}
.icon-megaphone-1:before {
  content: "\e11c";
}
.icon-map:before {
  content: "\e11d";
}
.icon-suitcase:before {
  content: "\e11e";
}
.icon-checkmark:before {
  content: "\e11f";
}
.icon-graph:before {
  content: "\e120";
}
.icon-diamond-1:before {
  content: "\e121";
}
.icon-banknote:before {
  content: "\e122";
}
.icon-bubble:before {
  content: "\e123";
}
.icon-calendar-2:before {
  content: "\e124";
}
.icon-bulb:before {
  content: "\e125";
}
.icon-camera:before {
  content: "\e126";
}
.icon-clip:before {
  content: "\e127";
}
.icon-clock:before {
  content: "\e128";
}
.icon-cloud:before {
  content: "\e129";
}
.icon-cup:before {
  content: "\e12a";
}
.icon-data:before {
  content: "\e12b";
}
.icon-diamond-2:before {
  content: "\e12c";
}
.icon-display:before {
  content: "\e12d";
}
.icon-eye-1:before {
  content: "\e12e";
}
.icon-note-1:before {
  content: "\e12f";
}
.icon-music:before {
  content: "\e130";
}
.icon-megaphone-2:before {
  content: "\e131";
}
.icon-mail-1:before {
  content: "\e132";
}
.icon-lock-1:before {
  content: "\e133";
}
.icon-location:before {
  content: "\e134";
}
.icon-like:before {
  content: "\e135";
}
.icon-lab:before {
  content: "\e136";
}
.icon-key-2:before {
  content: "\e137";
}
.icon-heart:before {
  content: "\e138";
}
.icon-food:before {
  content: "\e139";
}
.icon-fire:before {
  content: "\e13a";
}
.icon-paperplane:before {
  content: "\e13b";
}
.icon-params:before {
  content: "\e13c";
}
.icon-pen:before {
  content: "\e13d";
}
.icon-phone-1:before {
  content: "\e13e";
}
.icon-photo:before {
  content: "\e13f";
}
.icon-search-1:before {
  content: "\e140";
}
.icon-settings:before {
  content: "\e141";
}
.icon-shop:before {
  content: "\e142";
}
.icon-sound:before {
  content: "\e143";
}
.icon-stack:before {
  content: "\e144";
}
.icon-star-1:before {
  content: "\e145";
}
.icon-study:before {
  content: "\e146";
}
.icon-t-shirt:before {
  content: "\e147";
}
.icon-world:before {
  content: "\e148";
}
.icon-vynil:before {
  content: "\e149";
}
.icon-video:before {
  content: "\e14a";
}
.icon-vallet:before {
  content: "\e14b";
}
.icon-user-1:before {
  content: "\e14c";
}
.icon-tv:before {
  content: "\e14d";
}
.icon-truck-1:before {
  content: "\e14e";
}
.icon-trash-1:before {
  content: "\e14f";
}
.icon-tag-1:before {
  content: "\e150";
}
.icon-apple-1:before {
  content: "\e151";
}
.icon-app-store:before {
  content: "\e152";
}
.icon-wikipedia:before {
  content: "\e153";
}
.icon-whatsapp-1:before {
  content: "\e154";
}
.icon-w3:before {
  content: "\e155";
}
.icon-simplenote:before {
  content: "\e156";
}
.icon-livejournal:before {
  content: "\e157";
}
.icon-gowalla-alt:before {
  content: "\e158";
}
.icon-google-1:before {
  content: "\e159";
}
.icon-facebook-1:before {
  content: "\e15a";
}
.icon-pinboard:before {
  content: "\e15b";
}
