/*---  section part   */
@font-face {
  font-family: verdana;
  src:url("../fonts/verdana.ttf");
}
@font-face {
  font-family: verdanab;
  src:url("../fonts/verdanab.ttf");
}
header.top_head { background: rgba(0, 0, 0, 0) url("../images/header_bg.jpg") no-repeat scroll 0 0 / 100% auto; padding-top: 20px;
}
.top_logo_conttact { text-align: center;
}
.logo { border-radius: 50%;  display: inline-block;  left: 25%;  position: absolute;  top: 0px; z-index: 999;
}
.col-lg-4.top_left_conttact li, .col-lg-4.top_right_conttact li { display: inline; list-style:none;
}
.col-lg-4.top_left_conttact li:hover a span.bold_ext, .col-lg-4.top_right_conttact li:hover a span.bold_ext { color:#fff;
}
ul, ol { padding: 0;
}
.icon_pic.user { background: hsla(0, 0%, 0%, 0) url("../images/user_icon.png") no-repeat scroll 0 0;  float: left;  height: 30px;  margin-right: 10px;
  margin-top: -8px;  width: 30px;
}
.icon_pic.user:hover { background-position: 0 -30px;
}
.col-lg-4.top_right_conttact a { text-decoration: none;
}
.col-lg-4.top_left_conttact > ul,.col-lg-4.top_right_conttact > ul { margin-top: 30px;
}
span.bold_ext { color: hsl(34, 98%, 48%); font-weight: bold; font-size: 24px;
}
.col-lg-4.top_left_conttact li { color: hsl(33, 100%, 21%);
}
.col-lg-4.top_right_conttact li { border-right: 2px solid hsl(34, 98%, 48%); display: inline-block; line-height: 16px; list-style: outside none none;
  padding: 0 10px;
}
.col-lg-4.top_left_conttact li{ border-right: 2px solid hsl(33, 100%, 21%); display: inline-block; line-height: 16px; list-style: outside none none;
  padding: 0 10px;
}
.col-lg-4.top_right_conttact li:last-child,.col-lg-4.top_left_conttact li:last-child { border-right: medium none; padding-right: 0;
}
.col-lg-4.top_left_conttact li:first-child { padding-left: 0;
}
.col-lg-4.top_right_conttact ,.top_right {text-align: right;
}
.top_right { float: right;
}
.serch_section input { border: 1px solid hsl(34, 98%, 48%); border-radius: 5px; font-size: 16px; max-width: 290px; padding: 0 10px 0 35px; width: 100%; height: 34px;
}
.serch_section { display: inline; position: relative;
}
.icon.icon-search.serch_pop { color: rgb(242, 138, 2); left: 23px; position: absolute; top: 19px;  z-index: 999999;
}
.top-dark_ext {  color: hsl(33, 100%, 21%);  font-size: 20px;  font-weight: bold;
}
.top-dark_ext > span { font-weight: normal;
}
.top_head_white-strip_etx { padding: 5px 0;
}
section.middd_contact_part { background:hsla(0, 0%, 0%, 0) url("../images/middle_bg.png") no-repeat scroll center top / 100% auto; padding: 30px 0;
}
.right_banner_section > img { width: 100%;
}
.left_sidebar > ul { list-style: none;
}
.left_sidebar { background: #fff; margin-right: 20px; padding: 10px 20px;
}
.left_sidebar li { border-bottom: 1px solid #f39c2b;
}
.left_sidebar a { color: hsl(0, 0%, 0%); display: inline-block; font-size: 18px;  padding: 12px 0;  width: 100%;
}
.icon_pic { float: left; height: 30px;  overflow: hidden;  width: 30px; margin-right: 5px;
}
.icon_pic.box-1,.icon_pic.box-4 ,.icon_pic.box-7{ background: hsla(0, 0%, 0%, 0) url("../images/packing_box.png") no-repeat scroll 0 0;
}
.icon_pic.box-2,.icon_pic.box-5 ,.icon_pic.box-8 { background: hsla(0, 0%, 0%, 0) url("../images/carry_bag_icon.png") no-repeat scroll 0 0;
}
.icon_pic.box-3 ,.icon_pic.box-6 { background: hsla(0, 0%, 0%, 0) url("../images/drum_icon.png") no-repeat scroll 0 0;
}
.left_sidebar li:last-child { border-bottom: medium none;
}
.left_sidebar li:hover .icon_pic.box-1 ,.left_sidebar li:hover .icon_pic.box-2 ,.left_sidebar li:hover .icon_pic.box-3 ,.left_sidebar li:hover .icon_pic.box-4 ,.left_sidebar li:hover .icon_pic.box-5 ,.left_sidebar li:hover .icon_pic.box-6 ,.left_sidebar li:hover .icon_pic.box-7 ,.left_sidebar li:hover .icon_pic.box-8 { background-position: 0 -30px;
}
.left_sidebar li:hover a{ color:#F38B00; text-decoration: none;
}
.icon_pic.user { background: hsla(0, 0%, 0%, 0) url("../images/user_icon.png") no-repeat scroll 0 0; float: left;  height: 30px;  width: 30px;
}
.map-btn ,.order_dilivery { color: hsl(34, 98%, 48%); font-size: 25px;
}
.map-icon-pic { float: right; margin-left: 20px;
}
.shipping-truck { float: left; margin-right: 20px;
}
.map-btn { text-align: right;
}
.business_ext_ex { background: hsl(34, 99%, 47%); color: hsl(0, 0%, 100%); font-size: 28px; padding: 15px 0; text-align: center; margin: 0 60px;
}
.map-btn, .order_dilivery { background: hsl(0, 0%, 100%);  color: hsl(34, 98%, 48%);  font-size: 18px;  line-height: 22px; padding: 8px 0;
}
.business_ext_ex::before { border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsl(34, 99%, 47%) hsl(34, 99%, 47%);  border-style: solid;  border-width: 21px;
content: "";  left: 39px;  position: absolute;  top: 9px;  transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg);
 -o-transform: rotate(45deg);
}
.business_ext_ex::after { border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsl(34, 99%, 47%) hsl(34, 99%, 47%);  border-style: solid;  border-width: 21px;
content: "";  position: absolute;  right:39px;  top:9px;  transform: rotate(-135deg);  z-index: 9; -moz-transform: rotate(-135deg));
 -webkit-transform: rotate(-135deg);   -o-transform: rotate(-135deg);
}
.midd_shippin_outer_box { border-bottom: 1px solid hsl(34, 99%, 47%);  border-top: 1px solid hsl(34, 99%, 47%);  display: flex;  margin: 40px 40px 30px;
}
.business_ext { background: hsl(0, 0%, 100%);
}
.map-btn::before { background: hsl(0, 0%, 100%); border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsl(34, 99%, 47%) hsl(34, 99%, 47%);  border-style: solid;
  border-width: 1px;  content: "";  height: 44px;  left: -21px;  position: absolute;  transform: rotate(45deg);  width: 44px; -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg);
}
.order_dilivery::after { background: hsl(0, 0%, 100%); border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsl(34, 99%, 47%) hsl(34, 99%, 47%);  
border-style: solid;  border-width: 1px;  content: "";  height: 44px;  right: -21px;  position: absolute;  transform: rotate(-135deg);  width: 44px;
-moz-transform: rotate(-135deg)); -webkit-transform: rotate(-135deg);   -o-transform: rotate(-135deg); top: 8px;
}
/***  feature  section  **/
.product_slider h3 { border-bottom: 2px solid hsl(34, 98%, 48%); color: hsl(34, 98%, 48%); font-size: 26px; line-height: 60px; margin-bottom: 30px;
}
.slide_pro_perice { color: hsl(34, 98%, 48%); font-size: 30px;
}
.col-lg-6.slide_btn > a { background: hsl(34, 98%, 48%); color: hsl(0, 0%, 100%);font-size: 19px; font-weight: bold; padding: 5px 10px;
}
.col-lg-6.slide_btn > a:hover { background: #6D3C00; text-decoration: none;
}
.col-lg-6.slide_btn { text-align: right;
}
.pro_slide_pic > img {width: 100%;
}
.product_slider.col-lg-12 .col-lg-3 { padding: 0 10px;
}
.product_slider.col-lg-12 .col-lg-3.first { padding-left: 0;
}
.product_slider.col-lg-12 .col-lg-3.last {  padding-right: 0;
}
.pro_slide_ext p { line-height: 20px;  min-height: 40px;  width: 100%;
}
.pro_slide_ext { background: hsl(0, 0%, 100%);  display: inline-block;  margin-top: 15px;  padding: 10px;  width: 100%; border-bottom: 1px solid #F28A02;
 min-height: 143px;
}
.logo_w_car > img { width: 100%;
}
.logo_w_car { padding-right: 80px;
}
.packing_specility { background: hsl(0, 0%, 100%);  margin: 30px 0;  padding: 15px 20px;
}
.packing_specility .col-lg-8 > h3 { color: hsl(34, 98%, 48%); font-size: 24px;
}
.col-lg-8 > p { line-height: 24px;
}
/**  footer-section ***/

.map_part_inner > img{ border: 3px solid hsl(0, 0%, 100%); height: auto; width: 100%;
}
.top_footer { background: hsl(34, 36%, 84%);  padding: 30px 0;  margin-bottom: 40px;
}
.order_part_inner_box { background: url("../images/back1.png") no-repeat scroll 0 0 / 100% auto;  height: 348px;  margin-right: 20px;
}
.map_part_inner { padding-left: 15px;
}
.dilivery_cont .shipping-truck { float: right;  margin-right: 60px; 
}
.dilivery_cont ,.locaton_cont { color: hsl(34, 98%, 48%);  font-size: 30px;  padding-top: 20px;  text-align: center;
}
.address { background: hsl(34, 98%, 48%);  margin: 50px auto 22px;  max-width: 474px;  padding:10px 20px;  text-align: right;
}
.address h4 { color: hsl(0, 0%, 100%);  font-size: 44px;  margin: 0 0 10px;
}
.address > p { color: hsl(0, 0%, 100%); font-size: 22px;
}
.locaton_cont .icon-pic { margin-right: 40px;
}

/********** footer ************/
footer.col-lg-12.box-footer { background: url("../images/footer_bg.png") no-repeat scroll top center / 100% auto;  
}
.footer-col .social_icon li {  height: 47px;  overflow: hidden; transition: all 0.2s ease-in-out 0s;
}
.footer-col .social_icon li:hover img { margin-top:-47px; transition: all 0.2s ease-in-out 0s;
}
.bottom_footer {  background: rgb(228, 215, 198);  border-top: 15px solid rgb(241, 137, 3);  padding: 30px 0;
}
.footer_logo > img { width: 100%;
}
.footer-col { padding: 0px 15px;
}
.footer-col:first-child { padding-left: 0;
}
.footer-col:last-child { padding-right: 0;
}
.social_icon, .footer_nav, .footer_nav li  { display: inline-block; width: 100%;
}
.social_icon li, .footer_nav li { display: inline-block;  list-style: none;
}
.footer_nav a, .footer-col p { color: rgb(108, 60, 0);
}
.footer-col input[type="email"] { border: medium none; border-radius: 5px;  display: inline-block;  margin-bottom: 20px;  padding: 7px 10px;  width: 100%;
}
.footer-col input[type="submit"] { background: rgb(241, 137, 3); border: medium none; border-radius: 5px; color: rgb(255, 255, 255); font-size: 20px;
  padding: 5px 10px; width: 100%;
}

/*** detail page ***/

.tab_section { background: #fff; padding: 15px; margin-bottom: 30px;
}
ul, li { list-style: none;
}
.tab_section .col-lg-8 > h3 {  font-size: 24px;  margin: 0 0 20px;
}
.tab_section_menu a { border-bottom: 2px solid hsl(34, 98%, 48%); color: hsl(0, 0%, 10%); display: inline-block; padding: 10px 0; text-decoration: none;
  width: 100%; position: relative;
}
.tab_section_menu a:hover { color: hsl(34, 98%, 48%); 
}
.tab_section_menu { padding-right: 40px;
}
.tab_section_menu a:hover::before { border-bottom: 2px solid hsl(34, 97%, 48%); border-right: 2px solid hsl(34, 98%, 48%); content: ""; height: 10px;
 position: absolute; right: 0; top: 20px; transform: rotate(-45deg); width: 10px;
}
.detail_big_pic { background: hsl(240, 9%, 96%); text-align: center;
}
.detail_picsm_pic { background: hsl(240, 9%, 96%) ;  display: inline-block;  margin-top: 20px;  padding: 15px 0;  width: 100%;
}
.product_detail_section { background: hsl(0, 0%, 100%); display: inline-block; float: left; margin-bottom: 30px; padding: 10px 10px; width: 100%;
}
.detail_page_rigth_ext { display: inline-block; padding: 0 0 0 20px; width: 100%;
}
.detail_page_rigth_ext > h3 { border-bottom: 2px solid hsl(34, 97%, 48%);  font-size: 26px; margin: 10px 0 12px; padding-bottom:12px; display: inline-block;
}
.detail_page_rigth_ext li a { color: hsl(0, 0%, 0%); display: inline-block; padding: 0px 20px; text-decoration: none; width: 100%;
}
.detail_page_rigth_ext li { position: relative;
}
.detail_page_rigth_ext li::before { background: hsl(0, 0%, 0%); border-radius:50%; content:""; height:6px;left:0; position:absolute; top:12px; width:6px;
}
.pic_small_detail { border: 2px solid hsl(34, 97%, 48%);  border-radius: 8px;  padding: 10px;  width: 100%; margin-top:12px;
}
.pic_small_detail .col-lg-3 { font-size: 20px;
}
.pic_small_detail .row { margin: 10px 0 20px;
}
.col-lg-12.price_box { background: hsl(34, 21%, 94%);  padding: 10px 20px;
}
.pic_small_detail select { border: 2px solid hsl(34, 99%, 47%);  border-radius: 5px;  padding:4px 10px;  width: 190px; appearance:none;-moz-appearance:none; 
-webkit-appearance:none; position: relative; font-size: 14px;
}
.select_section::before { border-bottom: 2px solid hsl(34, 98%, 48%); border-right:2px solid hsl(34, 98%, 48%); content:""; height:10px; position:absolute;
right: 14px; top: 10px; transform: rotate(45deg); width: 10px; z-index: 999;
}
.select_section { display: inline-block; position: relative;
}
.dit_price { font-size: 18px; text-align: right;
}
.dit_price > span { color: hsl(34, 97%, 48%); font-weight: bold;
}
.detail_set_btn > a { background: hsl(34, 98%, 48%);  border-radius: 3px;  color: hsl(0, 0%, 100%); font-weight: bold; padding: 8px 20px;
}
.detail_set_btn { text-align: right;
}
.dit_price.bottom_golden_line { text-align: center;
}
.left_map_pic { width: 15px; margin-right: 10px;
}
.right_truck_pic { width: 20px;margin-left: 10px;
}
.dit_price.bottom_golden_line { border-top: 1px solid hsl(34, 98%, 48%); color: hsl(34, 98%, 48%); margin-top: 25px; padding-top: 10px; text-align: center;
}
.product_slider.detail_box h3 { margin:0 0 20px;
}
.product_slider.detail_box { background: #fff; padding: 0 15px 20px;
}
/***    ****/
.dit_price.guid_text { text-align: left;
}
.dit_price.bottom_golden_line.request-bottm-btn { margin-top: 90px;
}
.product_detail_section { position: relative;
}
.side_icon { background: hsl(0, 0%, 100%); left: -30px; padding:5px 5px 0; position: absolute;  top: 0;
}
.side_icon li { border-bottom: 1px solid hsl(34, 98%, 48%); display: table;  padding: 10px 2px; text-align: center; width: 100%;
}
.side_icon .icon_pic { margin: 0;
}
.side_icon li:last-child { border-bottom:none;
}
.side_icon > ul { margin-bottom: 0;
}
.left-input > input[type="text"] ,.right-input > input[type="text"] { background:hsl(34, 21%, 94%); border:medium none; border-radius:3px; padding:2px 10px; width: 98%; margin-top: 15px;
}
.right-input > input[type="text"]{ margin-left: 8px;
}
.email-input > input[type="text"] { background:hsl(34, 21%, 94%); border:medium none; border-radius:3px; padding:2px 10px; width: 100%;  
}
.email-input { margin:15px 0;
}
.textarea-input textarea { background:hsl(40, 19%, 94%); border:none; border-radius:5px; height:230px; padding:8px 10px; width:100%; margin-bottom:15px;
}
.glyphicon.glyphicon-home { color: hsl(34, 97%, 48%); font-size: 24px;
}
.glyphicon.glyphicon-home:hover { color:#E8E8E8;
}
.side_icon li:hover .icon_pic.box-1, .side_icon li:hover .icon_pic.box-2, .side_icon li:hover .icon_pic.box-3, .side_icon li:hover .icon_pic.box-4, .side_icon li:hover .icon_pic.box-5, .side_icon li:hover .icon_pic.box-6, .side_icon li:hover .icon_pic.box-7, .side_icon li:hover .icon_pic.box-8 {
  background-position: 0 -30px;
}
.minicart-wrapper { display: none;
}
.footer.content, .page-title-wrapper.product h1 span.base { display: none;
}
.page-title-wrapper.product {isplay: none; 
}
.product-reviews-summary { display: none;
}
.minicart-wrapper { display: none;
}
.footer.content, .action.skip.contentarea { display: none;
}
.item.link.compare{display: none;
}
.block-search .block-title, .header.content strong.logo { display: none;
}
.modal-inner-wrap {;
}
.block.block-content { float: right;
}
.action.search { display: none;
}
.prices-tier.items li { padding-left: 15px;
}
.action.search { border: none; background: transparent;
}
.action.search > span { border: medium none; color: transparent;
}
.prices-tier.items li { padding-left: 0px !important;
}
.breadcrumbs { display: none;
}
.top_head_white-strip_etx.col-lg-12 { background: #fff;
}
.price-container.price-final_price.tax.weee { font-size: 18px;
}
.serch_section .block.block-content { max-width: 290px; width: 100%;
}
.fotorama__stage { background: rgb(243, 243, 245);
}
.fotorama__nav-wrap.fotorama__nav-wrap--horizontal { background: rgb(243, 243, 245) none repeat scroll 0 0; margin-top: 20px;
}
.fotorama__nav__frame.fotorama__nav__frame--thumb { margin: 0 10px 0 0;
}
.field.required { float: left; margin: 7px 0; width: 100%; position: relative;
}
.field.required label.label { color: rgb(51, 51, 51); float: left !important; font-size: 20px; text-align: left !important; width: 25% !important; font-weight: normal;
}
.field.required  .control { float: left; position: relative; width: auto;
}
.field.required  .control::before { border-bottom: 2px solid rgb(242, 138, 2);border-right: 2px solid rgb(242, 138, 2); content: ""; height: 10px;
  position: absolute; right: 14px; top: 8px; transform: rotate(45deg); width: 10px; z-index: 999;
}
.prices-tier.items { float: left; background: #F2F0EC; padding: 10px 20px; width: 100%; margin: 20px 0;
}
.prices-tier.items li::before { background: transparent;
}
.price-box.price-final_price { float: right;  width: auto;
}
.detail_set_btn button { background: rgb(242, 138, 2) none repeat scroll 0 0; border: medium none; border-radius: 3px; color: rgb(255, 255, 255);
  font-weight: 600; padding: 2px 30px;
}
.detail_set_btn button:hover, .footer-col button.action:hover { text-decoration: underline;
}
.footer-col button.action { background: rgb(241, 137, 3); border: medium none; border-radius: 5px; color: rgb(255, 255, 255); padding: 5px 10px;
  width: 100%; font-weight: 600;
}
.pro_slide_pic { background: rgb(255, 255, 255) none repeat scroll 0 0;
}
.slide_pro_perice .price { font-size: 30px;
}
.product-item-actions button { background: rgb(241, 137, 3) none repeat scroll 0 0; border: medium none; color: rgb(255, 255, 255); padding: 1px 16px;
  font-weight: 600;
}
.product-item-actions button:hover { background: #6D3C00;
}
.slide_pro_perice .price-box.price-final_price { float: left;
}
.slide_pro_perice .price-container.price-final_price.tax.weee { font-size: 14px;
}
.pro_slide_ext a { color: rgb(51, 51, 51);
}
.toolbar.toolbar-products { float: left; width: 100%; background: #F3EFEC; padding: 10px 20px; line-height: 20px;
}
.modes, .field.limiter, .toolbar.toolbar-products p, .field.limiter .label, .field.limiter .control { float: left;
}
h1.page-title  { background: rgb(255, 255, 255) none repeat scroll 0 0; font-size: 38px; margin: 0 auto; padding: 10px 20px; text-align: center;
  width: 1170px; color: #F18903; 
}

.products.wrapper.grid.products-grid { display: inline-block; width: 100%;
}
.products.wrapper.grid.products-grid li { display: inline-block; padding: 0 10px;  width: 25%;
}
.product.name.product-item-name { float: left; width: 100%; line-height: 20px; margin-bottom: 10px;  min-height: 40px;
}
.category-view  .price-box .price { color: rgb(241, 137, 3); font-size: 30px;
}
.product.details.product-item-details { float: left; margin: 15px 0; width: 100%; padding: 10px; border-bottom: solid 1px #F18903;
}
.product-item-link { color: rgb(51, 51, 51); font-weight: normal; width: 100%;
}

.category-view .price-box.price-final_price, .category-view .product-item-inner { float: left; margin: 0;
}
.category-view  .product-item-actions button { font-size: 15px; padding: 1px 13px; width: 100%;
}
.category-view .price-container.price-final_price.tax.weee { font-size: 14px;
}
.product.actions.product-item-actions a.action.tocompare { background: rgb(241, 137, 3); color: rgb(255, 255, 255); display: inline-block; font-size: 11px;
  font-weight: 600; line-height: 20px; margin-top: 10px; padding: 6px 2px; width: 58px; text-align: center;
}
.product.actions.product-item-actions a.action.tocompare:hover { background: #6D3C00; text-decoration: none;
}
.toolbar-sorter.sorter { float: right;
}
.toolbar.toolbar-products p { margin: 0; padding: 0;
}
.category-view .field.limiter .label { color: rgb(51, 51, 51); font-size: 16px; font-weight: normal; line-height: 23px; margin: 0 0 0 5px; padding: 0;
}
.category-view .control select, .category-view .toolbar-sorter.sorter select{ -webkit-appearance: none;  -moz-appearance: none;  appearance: none;
}
.category-view .control select, .category-view .toolbar-sorter.sorter select { border: 1px solid #F18903; width: 150px; border-radius: 5px; padding: 2px;
  margin: 0 7px; font-size: 14px;
}
.toolbar-sorter.sorter label.sorter-label, .sorting_sel { float: left;
}
.category-view .control, .category-view .sorting_sel { position: relative;
}
.category-view .control::after, .category-view .sorting_sel:after { border-bottom: 2px solid rgb(240, 135, 3); border-right: 2px solid rgb(240, 135, 3);
  content: ""; height: 8px; position: absolute; right: 15px; top: 8px; transform: rotate(45deg); width: 8px;
}
.page.messages { text-align: center;
}
.price-container.price-tier_price.tax.weee .price-wrapper span.price { font-weight: 600;
}
.product.media.col-lg-6 { margin: 0;
}
.form.form-cart { float: left; width: 70%;
}
.cart-summary { background: rgb(243, 239, 236) none repeat scroll 0 0; float: right; padding: 10px; width: 28%;
}
.cart.table-wrapper, .cart.main.actions { float: left; width: 100%;
}
.cart.table-wrapper caption { background: rgb(243, 239, 236) none repeat scroll 0 0; font-weight: 600; padding: 10px 20px; text-align: left;
}
.cart table { border-collapse: collapse;
}
.cart table, .cart tr, .cart td, .cart th, .cart-totals table, .cart-totals tr, .cart-totals td {
  border: 1px solid #E5E1DE;
}
.table thead tr th { border-bottom: none !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td, .table > tbody + tbody {
  border-top: none !important;
}
.cart .product-item-photo { float: left; width: 50px;
}
.cart.item .product-image-photo { height: auto; width: 100%;
}
.product-item-details { float: left; font-size: 14px; margin-left: 10px;
}
.cart.main.actions { background: rgb(243, 239, 236) none repeat scroll 0 0; padding: 10px 20px;
}
.cart.main.actions a.action.continue { background: rgb(241, 137, 3); border-radius: 5px; color: rgb(255, 255, 255); padding: 10px 20px; text-decoration: none;
border: medium none;
}
.cart.main.actions button.action.update { background: rgb(241, 137, 3); color: rgb(255, 255, 255); border: none; padding: 4px 20px; border-radius: 5px;
  float: right;
}
.cart.main.actions button.action.clear { background: rgb(241, 137, 3); border: medium none; border-radius: 5px; color: rgb(255, 255, 255); margin: 0 10px;
  padding: 4px 20px;
}
.cart.main.actions a.action.continue:hover, .cart.main.actions button.action.clear:hover, .cart.main.actions button.action.update:hover, .actions-toolbar .primary button.apply:hover, .checkout.methods.items.checkout-methods-items .item button.action:hover, #checkout .actions-toolbar button.button:hover{
 background: #6D3C00;
}
.field.qty .label, .fieldset.coupon .label { display: none;
}
.data.table.totals caption { background: rgb(243, 239, 236) none repeat scroll 0 0; font-weight: 600; padding: 3px 10px; text-align: left;
}
.cart-totals th { font-size: 14px;
}
.fieldset.coupon input[type="text"] { border: 1px solid rgb(241, 137, 3); border-radius: 5px; display: inline-block; font-size: 14px; margin: 10px 0;
  padding: 0 10px; width: 100%;
}
.checkout.methods.items.checkout-methods-items .item button.action { margin-top: 10px;
}
.actions-toolbar .primary button.apply, .checkout.methods.items.checkout-methods-items .item button.action { background: rgb(241, 137, 3) none repeat scroll 0 0;
  border: medium none; border-radius: 5px; color: rgb(255, 255, 255); padding: 5px; width: 100%;
}
.cart-empty { background: rgb(255, 255, 255) none repeat scroll 0 0; padding: 20px; text-align: center;
}
.summary.title { float: left; width: 100%;
}
.block.shipping { float: left; margin: 10px 0; width: 100%; position: relative;
}
.title > strong#block-shipping-heading { cursor: pointer;
}
.block.shipping .title::after, .block.discount .title::after { border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); content: ""; height: 8px; position: absolute; right: 6px; transform: rotate(45deg); width: 8px; top: 6px;
}
.block.shipping.active .title::after, .block.discount.active .title::after { display: none;
}
.block.shipping.active .title::before, .block.discount.active .title::before { border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); content: ""; height: 8px; position: absolute; right: 6px; top: 10px; transform: rotate(-137deg); width: 8px;
}
.block.discount .title { position: relative;  cursor: pointer; float: left; width: 100%;
}
mark, .mark { background-color: transparent !important;
}
#block-shipping .content select { border: 1px solid rgb(229, 225, 222); display: inline-block; padding: 9px 5px; margin-bottom: 10px; width: 100%;
}
.legend > span { display: none;
}
.label { color: rgb(51, 51, 51); font-size: 16px; font-weight: normal; padding: 0;
}
#block-shipping .control input[type="text"] { border: 1px solid rgb(229, 225, 222); margin-bottom: 10px; padding: 2px 5px; width: 100%;
}
#block-shipping .item-title, #block-shipping .item-options { float: left; width: 50%; margin-bottom: 10px; font-weight: normal;
}
#block-shipping input[type="radio"], #block-shipping input[type="checkbox"] { float: left ; margin-right: 10px;
}
#checkout li.checkout-shipping-address { float: left; width: 100%;
}
#checkout li.checkout-shipping-method { float: left; width: 100%;
}
#checkout .step-title { float: left; width: 100%; border-bottom: 1px solid rgb(194, 194, 194); font-size: 20px; line-height: 45px;
}
#checkout .field.required { float: left; width: 100%;  margin: 20px 0 0 0;
}
#checkout .field.required .label { font-size: 16px; width: 100%;  margin-bottom: 8px;
}
#checkout .control._with-tooltip { float: left; width: 100%; 
}
#checkout .control._with-tooltip input.input-text { border: 1px solid rgb(194, 194, 194); padding: 2px 10px; width: 100%;
}
#checkout .opc-wrapper { float: left; width: 65%;
}
#checkout .field.required .control::before { display: none;
}
#checkout .field-tooltip.toggle, #checkout .note { font-size: 14px;
}
#checkout .fieldset.address { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; float: left; max-width: 100%; width: 100%; margin: 30px 0 0 ; padding: 0;
}
#checkout .field._required, #checkout .control { float: left; width: 100%; margin-bottom: 10px;
}
#checkout .label { float: left; text-align: left; width: 100%; 
}
#checkout #shipping-new-address-form .field.required { float: left; margin: 20px 0; position: relative; width: 100%; border: none;
} 
#checkout .control input[type="text"], #checkout .control select { border: 1px solid rgb(194, 194, 194); padding: 3px 9px;  width: 100%;
}
#checkout .mage-error, #checkout .field-tooltip-content { float: left; font-size: 14px;
}
#checkout #shipping-new-address-form .field.required .label { font-size: 18px; margin-bottom: 7px; padding-bottom: 10px; border-color: rgb(194, 194, 194);
  border-radius: 0;
}
#checkout .table-checkout-shipping-method { width: 84%;
}
#checkout .actions-toolbar { float: right;  margin: 20px 0;
}
#checkout .actions-toolbar button.button { background: rgb(240, 137, 2); border: medium none; border-radius: 5px; color: rgb(255, 255, 255); padding: 3px 30px;
}
#co-shipping-method-form #checkout-shipping-method-load { float: left; margin: 20px 0; width: 100%;
}
#checkout .table-checkout-shipping-method tr {
  border-bottom: 1px solid rgb(194, 194, 194);
}
#checkout .table-checkout-shipping-method td {
  padding: 3px 10px;
}
button.action.search { display: none !important;
}
.box-tocart { width: 100%;
}
.minimal-price-link { color: #000 !important;
}
.products.wrapper ~ .toolbar .limiter { float: right;
}
.authentication-wrapper button.action.action-auth-toggle {
  border-radius: 5px;
  color: #f18903;
  font-weight: 600;
  padding: 8px 30px;
}
.authentication-wrapper button.action.action-auth-toggle:hover { color: #6D3C00;
}
#checkout .primary .action.action-login {
  background: #f18903 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  float: left;
  padding: 3px 20px;
}
#checkout .primary .action.action-login:hover{ background: #6D3C00;
}
#checkout .block-authentication .actions-toolbar > .secondary {
  float: left;
  margin-left: 2rem;
  padding-top: 0;
}
#checkout .minicart-items .product-item-details {
  line-height: 20px !important;
  padding-left: 2%;
  width: 71%;
}
#checkout .details-qty .label {
  float: left;
  width: auto !important;
}
#checkout .block.items-in-cart.active {
  margin-bottom: 0;
}
#checkout #co-shipping-form .label {
  margin-bottom: 8px;
}
#checkout .modal-header {
  min-height: 0;
  padding: 0;
}
.category-image, .category-description {
  display: none;
  margin-bottom: 20px;
}
.products-list .price-box.price-final_price {
  width: 100%;
}
.products-list .product-item-link {
  font-size: 20px;
}
.products-list .product-item-description {
  margin: 5px 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td, .table > tbody + tbody {
  border-bottom: medium none;
  border-top: medium none !important;
}
.search .price-box.price-final_price { float: left;
}
.top_right_conttact li a img { display: none;
}
.copyright { background: rgb(241, 137, 3) none repeat scroll 0 0; color: rgb(255, 255, 255); padding: 10px; text-align: center; width: 100%; display: none;
}
.socialicon {
  display: none;
}


/******* media ***********/

@media (min-width: 0px) and (max-width: 480px){
.address { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; float: left; margin: 0 0 10px; max-width: 100%;
  padding: 0; text-align: left; width: 100%;
}
.address h4 { color: rgb(243, 139, 0); font-size: 26px; margin: 0 0 10px; font-weight: 600;
}
.address > p { color: rgb(149, 164, 166); font-size: 18px;
}
.map_part.col-lg-6 { border-bottom: 1px solid rgb(243, 139, 0); float: left; width: 100%; padding-bottom: 30px;
}
.map_part_inner { padding-left: 0;
}
iframe { height: auto; width: 100%;
}
.top_footer { background: rgb(255, 255, 255) none repeat scroll 0 0; margin-bottom: 40px; padding: 0 0 0px;
}
}


@media (min-width: 481px) and (max-width: 767px){
.order_part.col-lg-6 { float: left; width: 49%;
}
.address { background: rgba(0, 0, 0, 0) none repeat scroll center top; margin: 0; max-width: 100%; padding: 0; text-align: left;
}
.address h4 { color: #F38B00; font-size: 28px; font-weight: 600;
}
.address > p { color: rgb(149, 152, 154); font-size: 19px;
}
.top_footer { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; margin-bottom: 40px; padding: 0;
}
.top_footer .container .row {border-bottom: 1px solid rgb(241, 137, 3);
}
.map_part.col-lg-6 {  float: right; width: 49%; .top_footer .container .row { border-bottom: 1px solid rgb(241, 137, 3);
}
}
iframe { width: 100%; height: 220px;
}
}


@media (min-width: 0px) and (max-width: 767px){
.col-lg-4.top_left_conttact > ul{ display: none;
}
.logo { display: inline-block; float: left; left: 0; position: relative;
}
.nav-toggle { right: 15px;
}
.nav-toggle::before { font-size: 48px !important; font-weight: 600 !important;
}
header.top_head { background: rgba(0, 0, 0, 0) url("../images/header_bg.jpg") no-repeat scroll 0 0 / 100% 85px;  padding-top: 10px; margin-bottom: 40px;
}
.top_right_conttact li a img { display: block; width: 45px;
}
section.middd_contact_part { background: rgb(255, 255, 255); padding: 0px;
}
.top_right_conttact li a span { display: none;
}
.top_head_white-strip_etx.col-lg-12 { display: none;
}
.col-lg-4.top_right_conttact, .top_right { position: absolute; right: 0; text-align: right; top: 66px;
}
.col-lg-4.top_right_conttact li { border-right: none;
}
.left_sidebar, .business_ext_ex::after, .business_ext_ex::before, .map-btn::before, .order_dilivery::after { display: none;
}
.flexslider .slides img, .slides a { display: inline-block; width: 100%;
}
.flexslider .slides img, .slides a, .slides > li { height: auto !important;
}
.midd_shippin_outer_box { border-bottom: medium none; border-top: medium none; margin: 10px 0;
}
.business_ext_ex { background: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-size: 19px; margin: 0 10px; text-transform: uppercase;
}
.map_part .map-btn, .shiping_part .order_dilivery { font-size: 0;
}
.business_ext_ex { padding: 4px;
}
.product_slider h3 { text-align: center; margin-top: 0;
}
.slide_pro_perice { width: 50%;
}
.product-item-actions { display: block;
}
.product_slider.col-lg-12 { display: inline-block; text-align: center;
}
.product_slider .col-lg-3 { display: inline-block; text-align: left; width: 290px !important;
}
.packing_specility { background: rgb(228, 215, 198); display: inline-block; text-align: center;
}
.packing_specility .col-lg-8 > h3 { font-size: 20px; line-height: 26px;
}
.col-lg-8 > p { line-height: 22px;
}
body { font-size: 14px;
}
.logo_w_car > img { width: 150px;
}
.logo_w_car { display: inline-block; padding-right: 0; text-align: center;
}
.order_part_inner_box { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; height: auto; margin-right: 0;
}
.dilivery_cont, .locaton_cont { display: none;
}
footer.col-lg-12.box-footer { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.footer_logo, .social_icon, .footer_nav { display: none;
}
.magestore-bannerslider-standard {
  width: 100% !important;
}
.footer-col.col-lg-3:nth-child(2) { display: none;
}
.footer_nav a, .footer-col p { color: rgb(149, 152, 154); font-size: 22px;
}
.bottom_footer { background: transparent; border-top: none; padding: 0px 0 20px 0;
}
.top_footer { margin-bottom: 20px;
}
.footer-col input[type="email"] { margin-bottom: 0; border: solid 1px #ccc; border-radius: 5px; width: 56%;
}
.footer-col button.action { float: right; padding: 8px 10px; width: 40%;
}
.socialicon { display: block;
}
.socialicon a { height: 47px;  display: inline-block; overflow: hidden; transition: all 0.2s ease-in-out 0s;
}
.socialicon a:hover img {
  transition: all 0.2s ease-in-out 0s;
}
.copyright { display: block;
}
.map_part.col-lg-6 { padding-bottom: 30px;
}
.packing_specility .col-lg-8 { text-align: left;
}
}

@media (min-width: 768px) and (max-width: 1023px){
.col-lg-4.top_left_conttact, .col-lg-4.top_left { float: left;
}
span.bold_ext { font-size: 16px;
}	
.col-lg-4.top_left_conttact li { font-size: 13px;
}
.logo { left: 36%;
}
.top-dark_ext { font-size: 14px;
}
.serch_section input { height: 28px;
}
.icon.icon-search.serch_pop { top: 17px;
}
}
