<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($block->getResultCount()): ?>
<?php echo $block->getChildHtml('tagged_product_list_rss_link'); ?>
<div class="search results product_detail_section">
    <?php if ($messages = $block->getNoteMessages()):?>
    <div class="message notice">
        <div>
            <?php foreach ($messages as $message):?>
                <?php /* @escapeNotVerified */ echo $message?><br />
            <?php endforeach;?>
        </div>
    </div>
    <?php endif; ?>
    <?php echo $block->getProductListHtml() ?>
</div>
<?php else: ?>

<div class="message notice">
    <div>
        <?php /* @escapeNotVerified */ echo($block->getNoResultText()) ? $block->getNoResultText() : __('Your search returned no results.') ?>
        <?php echo $block->getAdditionalHtml() ?>
        <?php if ($messages = $block->getNoteMessages()):?>
            <?php foreach ($messages as $message):?>
                <br /><?php /* @escapeNotVerified */ echo $message?>
            <?php endforeach;?>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>
