<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */
//$welcomeMessage = $block->getWelcome();
$helper = $this->helper('Magento\Search\Helper\Data');
?>

<img src="<?php /* @escapeNotVerified */ echo $block->getLogoSrc() ?>"
             alt="<?php /* @escapeNotVerified */ echo $block->getLogoAlt() ?>"
             <?php echo $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
             <?php echo $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
<div class="main_wapper">
    	<header class="top_head col-lg-12">
            <div class="container">
            	<div class="col-lg-4 top_left_conttact">
				<?php     echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('header-contact-us-info')
          ->toHtml(); ?>
                	
                </div>
                <div class="col-lg-4 top_logo_conttact">
                	<div class="logo"><a href=""><img src="images/logo_pic.png"  width="200" height="90" alt="" /></a></div>
                </div>
                <div class="col-lg-4 top_right_conttact">
                	<ul>
                    	<li>
						<a href="<?php echo $block->getUrl('checkout/cart', ['_secure' => true]);?>"><span class="icon_pic user"></span> <span class="bold_ext">Basket</span></a></li>
                        <li><a href="<?php echo $block->getUrl('checkout', ['_secure' => true]);?>"><span class="bold_ext">Checkout</span></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="top_head_white-strip_etx col-lg-12">
            <div class="container">
                	<div class="col-lg-4 top_left">
                    	<div class="top-dark_ext">Experts in Packaging <span>since 1976</span></div>
                    </div>
                    <div class="col-lg-4 top_right">
                    	<div class="serch_section">
						 <?php echo 'sss'.$block->getChildHtml('topSearch'); ?>
						 <!----Search code------>
                        	<div class="block block-search">
    <div class="block block-title"><strong><?php /* @escapeNotVerified */ echo __('Search'); ?></strong></div>
    <div class="block block-content">
        <form class="form minisearch" id="search_mini_form" action="<?php /* @escapeNotVerified */ echo $helper->getResultUrl() ?>" method="get">
            <div class="field search">
                <label class="label" for="search" data-role="minisearch-label">
                    <span><?php /* @escapeNotVerified */ echo __('Search'); ?></span>
                </label>
                <div class="control">
                    <input id="search"
                           data-mage-init='{"quickSearch":{
                                "formSelector":"#search_mini_form",
                                "url":"<?php /* @escapeNotVerified */ echo $block->getUrl('search/ajax/suggest', ['_secure' => $block->getRequest()->isSecure()]); ?>",
                                "destinationSelector":"#search_autocomplete"}
                           }'
                           type="text"
                           name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
                           value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
                           placeholder="<?php /* @escapeNotVerified */ echo __('Search entire store here...'); ?>"
                           class="input-text"
                           maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>"
                           role="combobox"
                           aria-haspopup="false"
                           aria-autocomplete="both"
                           autocomplete="off"/>
                    <div id="search_autocomplete" class="search-autocomplete"></div>
                    <?php echo $block->getChildHtml() ?>
                </div>
            </div>
            <div class="actions">
                <button type="submit"
                        title="<?php echo $block->escapeHtml(__('Search')) ?>"
                        class="action search">
                    <span><?php /* @escapeNotVerified */ echo __('Search'); ?></span>
                </button>
            </div>
        </form>
    </div>
</div>


                            <div class="icon icon-search serch_pop"></div>
							<!----end Search code------>
                        </div>
                    </div>
              </div>
          </div>
    </div>
	
	