/*---  section part   */
@font-face {
  font-family: verdana;
  src:url("../fonts/verdana.ttf");
}
@font-face {
  font-family: verdanab;
  src:url("../fonts/verdanab.ttf");
}
header.top_head { background: hsla(0, 0%, 0%, 0) url("../images/header_bg.jpg") no-repeat scroll 0 0; padding-top:20px;
}
.top_logo_conttact { text-align: center;
}
.logo { border-radius: 50%;  display: inline-block;  left: 25%;  position: absolute;  top: 0px;
}
.col-lg-4.top_left_conttact li, .col-lg-4.top_right_conttact li { display: inline; list-style:none;
}
.col-lg-4.top_left_conttact li:hover a span.bold_ext, .col-lg-4.top_right_conttact li:hover a span.bold_ext { color:#fff;
}
ul, ol { padding: 0;
}
.icon_pic.user { background: hsla(0, 0%, 0%, 0) url("../images/user_icon.png") no-repeat scroll 0 0;  float: left;  height: 30px;  margin-right: 10px;
  margin-top: -8px;  width: 30px;
}
.icon_pic.user:hover { background-position: 0 -30px;
}
.col-lg-4.top_right_conttact a { text-decoration: none;
}
.col-lg-4.top_left_conttact > ul,.col-lg-4.top_right_conttact > ul { margin-top: 30px;
}
span.bold_ext { color: hsl(34, 98%, 48%); font-weight: bold; font-size: 24px;
}
.col-lg-4.top_left_conttact li { color: hsl(33, 100%, 21%);
}
.col-lg-4.top_right_conttact li { border-right: 2px solid hsl(34, 98%, 48%); display: inline-block; line-height: 16px; list-style: outside none none;
  padding: 0 10px;
}
.col-lg-4.top_left_conttact li{ border-right: 2px solid hsl(33, 100%, 21%); display: inline-block; line-height: 16px; list-style: outside none none;
  padding: 0 10px;
}
.col-lg-4.top_right_conttact li:last-child,.col-lg-4.top_left_conttact li:last-child { border-right: medium none; padding-right: 0;
}
.col-lg-4.top_left_conttact li:first-child { padding-left: 0;
}
.col-lg-4.top_right_conttact ,.top_right {text-align: right;
}
.top_right { float: right;
}
.serch_section input { border: 1px solid hsl(34, 98%, 48%); border-radius: 5px; font-size: 16px; max-width: 290px; padding: 0 10px 0 35px; width: 100%;
}
.serch_section { display: inline; position: relative;
}
.icon.icon-search.serch_pop { color: hsl(34, 98%, 48%); left: 8px; position: absolute; top: -3px;
}
.top-dark_ext {  color: hsl(33, 100%, 21%);  font-size: 20px;  font-weight: bold;
}
.top-dark_ext > span { font-weight: normal;
}
.top_head_white-strip_etx { padding: 5px 0;
}
section.middd_contact_part { background:hsla(0, 0%, 0%, 0) url("../images/middle_bg.png") no-repeat scroll center top / 100% auto; padding: 30px 0;
}
.right_banner_section > img { width: 100%;
}
.left_sidebar > ul { list-style: none;
}
.left_sidebar { background: #fff; margin-right: 20px; padding: 10px 20px;
}
.left_sidebar li { border-bottom: 1px solid #f39c2b;
}
.left_sidebar a { color: hsl(0, 0%, 0%); display: inline-block; font-size: 18px;  padding: 12px 0;  width: 100%;
}
.icon_pic { float: left; height: 30px;  overflow: hidden;  width: 30px; margin-right: 5px;
}
.icon_pic.box-1,.icon_pic.box-4 ,.icon_pic.box-7{ background: hsla(0, 0%, 0%, 0) url("../images/packing_box.png") no-repeat scroll 0 0;
}
.icon_pic.box-2,.icon_pic.box-5 ,.icon_pic.box-8 { background: hsla(0, 0%, 0%, 0) url("../images/carry_bag_icon.png") no-repeat scroll 0 0;
}
.icon_pic.box-3 ,.icon_pic.box-6 { background: hsla(0, 0%, 0%, 0) url("../images/drum_icon.png") no-repeat scroll 0 0;
}
.left_sidebar li:last-child { border-bottom: medium none;
}
.left_sidebar li:hover .icon_pic.box-1 ,.left_sidebar li:hover .icon_pic.box-2 ,.left_sidebar li:hover .icon_pic.box-3 ,.left_sidebar li:hover .icon_pic.box-4 ,.left_sidebar li:hover .icon_pic.box-5 ,.left_sidebar li:hover .icon_pic.box-6 ,.left_sidebar li:hover .icon_pic.box-7 ,.left_sidebar li:hover .icon_pic.box-8 { background-position: 0 -30px;
}
.left_sidebar li:hover a{ color:#F38B00; text-decoration: none;
}
.icon_pic.user { background: hsla(0, 0%, 0%, 0) url("../images/user_icon.png") no-repeat scroll 0 0; float: left;  height: 30px;  width: 30px;
}
.map-btn ,.order_dilivery { color: hsl(34, 98%, 48%); font-size: 25px;
}
.map-icon-pic { float: right; margin-left: 20px;
}
.shipping-truck { float: left; margin-right: 20px;
}
.map-btn { text-align: right;
}
.business_ext_ex { background: hsl(34, 99%, 47%); color: hsl(0, 0%, 100%); font-size: 28px; padding: 15px 0; text-align: center; margin: 0 60px;
}
.map-btn, .order_dilivery { background: hsl(0, 0%, 100%);  color: hsl(34, 98%, 48%);  font-size: 18px;  line-height: 22px; padding: 8px 0;
}
.business_ext_ex::before { border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsl(34, 99%, 47%) hsl(34, 99%, 47%);  border-style: solid;  border-width: 21px;
content: "";  left: 39px;  position: absolute;  top: 9px;  transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg);
 -o-transform: rotate(45deg);
}
.business_ext_ex::after { border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsl(34, 99%, 47%) hsl(34, 99%, 47%);  border-style: solid;  border-width: 21px;
content: "";  position: absolute;  right:39px;  top:9px;  transform: rotate(-135deg);  z-index: 9; -moz-transform: rotate(-135deg));
 -webkit-transform: rotate(-135deg);   -o-transform: rotate(-135deg);
}
.midd_shippin_outer_box { border-bottom: 1px solid hsl(34, 99%, 47%);  border-top: 1px solid hsl(34, 99%, 47%);  display: flex;  margin: 40px 40px 30px;
}
.business_ext { background: hsl(0, 0%, 100%);
}
.map-btn::before { background: hsl(0, 0%, 100%); border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsl(34, 99%, 47%) hsl(34, 99%, 47%);  border-style: solid;
  border-width: 1px;  content: "";  height: 44px;  left: -21px;  position: absolute;  transform: rotate(45deg);  width: 44px; -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg);
}
.order_dilivery::after { background: hsl(0, 0%, 100%); border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsl(34, 99%, 47%) hsl(34, 99%, 47%);  
border-style: solid;  border-width: 1px;  content: "";  height: 44px;  right: -21px;  position: absolute;  transform: rotate(-135deg);  width: 44px;
-moz-transform: rotate(-135deg)); -webkit-transform: rotate(-135deg);   -o-transform: rotate(-135deg); top: 8px;
}
/***  feature  section  **/
.product_slider h3 { border-bottom: 2px solid hsl(34, 98%, 48%); color: hsl(34, 98%, 48%); font-size: 26px; line-height: 60px; margin-bottom: 30px;
}
.slide_pro_perice { color: hsl(34, 98%, 48%); font-size: 30px;
}
.col-lg-6.slide_btn > a { background: hsl(34, 98%, 48%); color: hsl(0, 0%, 100%);font-size: 19px; font-weight: bold; padding: 5px 10px;
}
.col-lg-6.slide_btn > a:hover { background: #6D3C00; text-decoration: none;
}
.col-lg-6.slide_btn { text-align: right;
}
.pro_slide_pic > img {width: 100%;
}
.product_slider.col-lg-12 .col-lg-3 { padding: 0 10px;
}
.product_slider.col-lg-12 .col-lg-3.first { padding-left: 0;
}
.product_slider.col-lg-12 .col-lg-3.last {  padding-right: 0;
}
.pro_slide_ext p { line-height: 20px;  min-height: 40px;  width: 100%;
}
.pro_slide_ext { background: hsl(0, 0%, 100%);  display: inline-block;  margin-top: 15px;  padding: 10px;  width: 100%; border-bottom: 1px solid #F28A02;
}
.logo_w_car > img { width: 100%;
}
.logo_w_car { padding-right: 80px;
}
.packing_specility { background: hsl(0, 0%, 100%);  margin: 30px 0;  padding: 15px 20px;
}
.packing_specility .col-lg-8 > h3 { color: hsl(34, 98%, 48%); font-size: 24px;
}
.col-lg-8 > p { line-height: 24px;
}
/**  footer-section ***/

.map_part_inner > img{ border: 3px solid hsl(0, 0%, 100%); height: auto; width: 100%;
}
.top_footer { background: hsl(34, 36%, 84%);  padding: 30px 0;  margin-bottom: 40px;
}
.order_part_inner_box { background: url("../images/back1.png") no-repeat scroll 0 0 / 100% auto;  height: 348px;  margin-right: 20px;
}
.map_part_inner { padding-left: 15px;
}
.dilivery_cont .shipping-truck { float: right;  margin-right: 60px; 
}
.dilivery_cont ,.locaton_cont { color: hsl(34, 98%, 48%);  font-size: 30px;  padding-top: 20px;  text-align: center;
}
.address { background: hsl(34, 98%, 48%);  margin: 50px auto 22px;  max-width: 474px;  padding:10px 20px;  text-align: right;
}
.address h4 { color: hsl(0, 0%, 100%);  font-size: 44px;  margin: 0 0 10px;
}
.address > p { color: hsl(0, 0%, 100%); font-size: 22px;
}
.locaton_cont .icon-pic { margin-right: 40px;
}

/********** footer ************/
footer.col-lg-12.box-footer { background: url("../images/footer_bg.png") no-repeat scroll top center / 100% auto;  
}
.footer-col .social_icon li {  height: 47px;  overflow: hidden; transition: all 0.2s ease-in-out 0s;
}
.footer-col .social_icon li:hover img { margin-top:-47px; transition: all 0.2s ease-in-out 0s;
}
.bottom_footer {  background: rgb(228, 215, 198);  border-top: 15px solid rgb(241, 137, 3);  padding: 30px 0;
}
.footer_logo > img { width: 100%;
}
.footer-col { padding: 0px 15px;
}
.footer-col:first-child { padding-left: 0;
}
.footer-col:last-child { padding-right: 0;
}
.social_icon, .footer_nav, .footer_nav li  { display: inline-block; width: 100%;
}
.social_icon li, .footer_nav li { display: inline-block;  list-style: none;
}
.footer_nav a, .footer-col p { color: rgb(108, 60, 0);
}
.footer-col input[type="email"] { border: medium none; border-radius: 5px;  display: inline-block;  margin-bottom: 20px;  padding: 7px 10px;  width: 100%;
}
.footer-col input[type="submit"] { background: rgb(241, 137, 3); border: medium none; border-radius: 5px; color: rgb(255, 255, 255); font-size: 20px;
  padding: 5px 10px; width: 100%;
}

/*** detail page ***/

.tab_section { background: #fff; padding: 15px; margin-bottom: 30px;
}
ul, li { list-style: none;
}
.tab_section .col-lg-8 > h3 {  font-size: 24px;  margin: 0 0 20px;
}
.tab_section_menu a { border-bottom: 2px solid hsl(34, 98%, 48%); color: hsl(0, 0%, 10%); display: inline-block; padding: 10px 0; text-decoration: none;
  width: 100%; position: relative;
}
.tab_section_menu a:hover { color: hsl(34, 98%, 48%); 
}
.tab_section_menu { padding-right: 40px;
}
.tab_section_menu a:hover::before { border-bottom: 2px solid hsl(34, 97%, 48%); border-right: 2px solid hsl(34, 98%, 48%); content: ""; height: 10px;
 position: absolute; right: 0; top: 20px; transform: rotate(-45deg); width: 10px;
}
.fotorama__stage .detail_big_pic { background: hsl(240, 9%, 96%); text-align: center;
}
.fotorama__nav-wrap .detail_picsm_pic { background: hsl(240, 9%, 96%) ;  display: inline-block;  margin-top: 20px;  padding: 15px 0;  width: 100%;
}
.product_detail_section { background: hsl(0, 0%, 100%); display: inline-block; float: left; margin-bottom: 30px; padding: 10px 10px 0; width: 100%;
}
.detail_page_rigth_ext { display: inline-block; padding: 0 0 0 20px; width: 100%;
}
.detail_page_rigth_ext > h3 { border-bottom: 2px solid hsl(34, 97%, 48%);  font-size: 26px; margin: 10px 0 12px; padding-bottom:12px; display: inline-block;
}
.detail_page_rigth_ext li a { color: hsl(0, 0%, 0%); display: inline-block; padding: 0px 20px; text-decoration: none; width: 100%;
}
.detail_page_rigth_ext li { position: relative;
}
.detail_page_rigth_ext li::before { background: hsl(0, 0%, 0%); border-radius:50%; content:""; height:6px;left:0; position:absolute; top:12px; width:6px;
}
.pic_small_detail { border: 2px solid hsl(34, 97%, 48%);  border-radius: 8px;  padding: 10px;  width: 100%; margin-top:12px;
}
.pic_small_detail .col-lg-3 { font-size: 20px;
}
.pic_small_detail .row { margin: 10px 0 20px;
}
.col-lg-12.price_box { background: hsl(34, 21%, 94%);  padding: 10px 20px;
}
.pic_small_detail select { border: 2px solid hsl(34, 99%, 47%);  border-radius: 5px;  padding:4px 10px;  width: 190px; appearance:none;-moz-appearance:none; 
-webkit-appearance:none; position: relative; font-size: 14px;
}
.select_section::before { border-bottom: 2px solid hsl(34, 98%, 48%); border-right:2px solid hsl(34, 98%, 48%); content:""; height:10px; position:absolute;
right: 14px; top: 10px; transform: rotate(45deg); width: 10px; z-index: 999;
}
.select_section { display: inline-block; position: relative;
}
.dit_price { font-size: 18px; text-align: right;
}
.dit_price > span { color: hsl(34, 97%, 48%); font-weight: bold;
}
.detail_set_btn > a { background: hsl(34, 98%, 48%);  border-radius: 3px;  color: hsl(0, 0%, 100%); font-weight: bold; padding: 8px 20px;
}
.detail_set_btn { text-align: right;
}
.dit_price.bottom_golden_line { text-align: center;
}
.left_map_pic { width: 15px; margin-right: 10px;
}
.right_truck_pic { width: 20px;margin-left: 10px;
}
.dit_price.bottom_golden_line { border-top: 1px solid hsl(34, 98%, 48%); color: hsl(34, 98%, 48%); margin-top: 25px; padding-top: 10px; text-align: center;
}
.product_slider.detail_box h3 { margin:0 0 20px;
}
.product_slider.detail_box { background: #fff; padding: 0 15px 20px;
}
/***    ****/
.dit_price.guid_text { text-align: left;
}
.dit_price.bottom_golden_line.request-bottm-btn { margin-top: 90px;
}
.product_detail_section { position: relative;
}
.side_icon { background: hsl(0, 0%, 100%); left: -60px; padding:5px 5px 0; position: absolute;  top: 0;
}
.side_icon li { border-bottom: 1px solid hsl(34, 98%, 48%); display: table;  padding: 10px 2px; text-align: center; width: 100%;
}
.side_icon .icon_pic { margin: 0;
}
.side_icon li:last-child { border-bottom:none;
}
.side_icon > ul { margin-bottom: 0;
}
.left-input > input[type="text"] ,.right-input > input[type="text"] { background:hsl(34, 21%, 94%); border:medium none; border-radius:3px; padding:2px 10px; width: 98%; margin-top: 15px;
}
.right-input > input[type="text"]{ margin-left: 8px;
}
.email-input > input[type="text"] { background:hsl(34, 21%, 94%); border:medium none; border-radius:3px; padding:2px 10px; width: 100%;  
}
.email-input { margin:15px 0;
}
.textarea-input textarea { background:hsl(40, 19%, 94%); border:none; border-radius:5px; height:230px; padding:8px 10px; width:100%; margin-bottom:15px;
}
.glyphicon.glyphicon-home { color: hsl(34, 97%, 48%); font-size: 24px;
}
.glyphicon.glyphicon-home:hover { color:#E8E8E8;
}
.side_icon li:hover .icon_pic.box-1, .side_icon li:hover .icon_pic.box-2, .side_icon li:hover .icon_pic.box-3, .side_icon li:hover .icon_pic.box-4, .side_icon li:hover .icon_pic.box-5, .side_icon li:hover .icon_pic.box-6, .side_icon li:hover .icon_pic.box-7, .side_icon li:hover .icon_pic.box-8 {
  background-position: 0 -30px;
}
.minicart-wrapper {
  display: none;
}