<?php
/** @var $helper \Mageplaza\Productslider\Helper\Data */
$helper = $this->helper('Mageplaza\Productslider\Helper\Data');
?>
<?php if ($helper->isEnabled()): ?>


	<?php
	/**
	 * Template for displaying products list widget
	 *
	 * @var $block \Magento\CatalogWidget\Block\Product\ProductsList
	 */
	?>
	<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
		<?php
		$type            = 'widget-product-grid';
		$mode            = 'grid';
		$productsliderId = $block->getUniqueSliderKey();
		$image           = 'new_products_content_widget_grid';

		$items = $block->getProductCollection()->getItems();
		$title = $block->getConfigValue('heading');
		$info  = $block->getConfigValue('description');

		$showWishlist = true;
		$showCompare  = true;
		$showCart     = true;
		$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
		$description  = false;
		?>


	<div class="mp-product-slider-block block widget block-products-list <?php echo $mode; ?>">
		<?php if ($title): ?>
			<h2 class="mp-product-slider-title"><?php echo $title; ?></h2>
			</div>
		<?php endif ?>

		<p class="mp-ps-info"><?php echo $info; ?></p>

		<div class="block-content">
			<div class="products-<?php echo $mode; ?> <?php echo $mode; ?>">
                <ol class="product-items <?php echo $type; ?>">
                    <?php $iterator = 1; ?>
					<div class="owl-carousel" id="mageplaza-product-slider-<?php echo $productsliderId; ?>">
					<?php foreach ($items as $_item): ?>
						<div class="item">
						<?php echo ($iterator++ == 1) ? '<li class="product-item product-slider">' : '</li><li class="product-item product-slider">' ?>
							<div class="product-item-info">
                            <a href="<?php echo $block->getProductUrl($_item) ?>" class="product-item-photo">
                                <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                            </a>
                            <div class="product-item-details">
                                <strong class="mp-product-item-name">
                                    <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
									   href="<?php echo $block->getProductUrl($_item) ?>"
									   class="product-item-link">
                                        <?php echo $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </strong>
								<?php
								echo $block->getProductPriceHtml($_item, $type);
								?>

								<?php if ($templateType): ?>
									<?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
								<?php endif; ?>

								<?php if ($showWishlist || $showCompare || $showCart): ?>
									<div class="product-item-actions">
                                        <?php if ($showCart): ?>
											<div class="actions-primary">
                                                <?php if ($_item->isSaleable()): ?>
													<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
														<button class="action tocart primary"
																data-mage-init='{"redirectUrl":{"url":"<?php echo $block->getAddToCartUrl($_item) ?>"}}'
																type="button" title="<?php echo __('Add to Cart') ?>">
                                                            <span><?php echo __('Add to Cart') ?></span>
                                                        </button>
													<?php else: ?>
														<?php
														$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
														$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
														?>
														<button class="action tocart primary"
																data-post='<?php echo $postData; ?>'
																type="button" title="<?php echo __('Add to Cart') ?>">
                                                            <span><?php echo __('Add to Cart') ?></span>
                                                        </button>
													<?php endif; ?>
												<?php else: ?>
													<?php if ($_item->getIsSalable()): ?>
														<div class="stock available"><span><?php echo __('In stock') ?></span></div>
													<?php else: ?>
														<div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
													<?php endif; ?>
												<?php endif; ?>
                                            </div>
										<?php endif; ?>
										<?php /* if ($showWishlist || $showCompare): ?>
											<div class="actions-secondary" data-role="add-to-links">
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
													<a href="#"
													   data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
													   class="action towishlist" data-action="add-to-wishlist"
													   title="<?php echo __('Add to Wish List') ?>">
                                                        <span><?php echo __('Add to Wish List') ?></span>
                                                    </a>
												<?php endif; ?>
												<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
													<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
													<a href="#" class="action tocompare"
													   data-post='<?php echo $compareHelper->getPostDataParams($_item); ?>'
													   title="<?php echo __('Add to Compare') ?>">
                                                        <span><?php echo __('Add to Compare') ?></span>
                                                    </a>
												<?php endif; ?>
                                            </div>
										<?php endif; */ ?>
                                    </div>
								<?php endif; ?>
                            </div>
                        </div>
						</div>
						<?php echo ($iterator == count($items) + 1) ? '</li>' : '' ?>
					<?php endforeach ?>
					</div>
                </ol>
            </div>
			<?php echo $block->getPagerHtml() ?>
        </div>

		<script>
			require([
				'jquery',
				'Mageplaza_Productslider/js/owl.carousel.min'
			], function ($) {
				$('#mageplaza-product-slider-<?php echo $productsliderId;?>').owlCarousel(<?php echo ($block->getAllOptions())?>);
			});
		</script>
	<?php endif; ?>
<?php endif; ?>