<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<div class="row">

<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php /* if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <label class="label" for="qty"><span><?php /* @escapeNotVerified  echo __('Qty') */?><!--/span></label-->
            <!--div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       maxlength="12"
                       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div-->
        <?php /* endif;  */?>
		<div class="col-lg-6">
		<div class="dit_price">Price: <span><?php echo $block->getProductPriceHtml(
			$_product,
			\Magento\Catalog\Pricing\Price\FinalPrice::PRICE_CODE,
			\Magento\Framework\Pricing\Render::ZONE_ITEM_VIEW,
			[
				'price_id_suffix' => '_clone'
			]
		   ) ?></span></div>
		   </div>
		   <div class="col-lg-6"> 
        <div class="actions">
           <div class="detail_set_btn"> <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button> </div>
            <?php echo $block->getChildHtml('', true) ?>
        </div>
		 </div>
    </div>
</div>
<?php endif; ?>
</div>
</div>
</div>
<div class="row">
                                <div class="col-lg-12">
                                   	<div class="dit_price bottom_golden_line">
                                        <img class="left_map_pic" src="<?php echo $this->getViewFileUrl('Magento_Theme::images/map_pin.png'); ?>"> ORDER FOR COLLECTION | ORDER FOR DELIVERY 
                                        <img class="right_truck_pic" src="<?php echo $this->getViewFileUrl('Magento_Theme::images/shipping_truck.png'); ?>">
                                     </div>
                                 </div>
                            </div>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": false
            }
        }
    }
</script>
<?php endif; ?>

