
<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product Category sign

 */
?>

	<?php
        $catId =2;
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);           
        $subcats = $subcategory->getChildrenCategories();
			
      ?>
<div class="side_icon">
                    	<ul>
						<li><a href="<?php echo $block->getUrl(''); ?>"><span class="glyphicon glyphicon-home"></span></a></li>
						<?php
		$i=1;
            foreach ($subcats as $subcat) {
                if ($subcat->getIsActive()) {

                    $subcat_url = $subcat->getUrl();
                    $subcat_img = "";
                 
                    if($subcat->getName()=='Featured'){ ?>
                    
					<?php } else { ?> 
					<li>
                        <a href="<?php echo $subcat_url; ?>">
                          <span class="icon_pic box-<?php echo $i; ?>"></span><?php
						  //echo $subcat->getName(); ?>
                        </a>
                    </li> 
					<?php }
                }
			$i++;	
            }
            ?>
                        </ul>
                    </div>
				
       