<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
    <div class="row">
	<div class="tab_section col-lg-12">
        <?php $layout = $block->getLayout(); ?>
        <div class="product data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
		<div class="col-lg-4">
                    	<div class="tab_section_menu">
                <ul>
            <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                    
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                ?>
				<li><div class="data item title"
                     aria-labeledby="tab-label-<?php /* @escapeNotVerified */ echo $alias;?>-title"
                     data-role="collapsible" id="tab-label-<?php /* @escapeNotVerified */ echo $alias;?>">
                    <a class="data switch"
                       tabindex="-1"
                       data-toggle="switch"
                       href="#<?php /* @escapeNotVerified */ echo $alias; ?>"
                       id="tab-label-<?php /* @escapeNotVerified */ echo $alias;?>-title">
                        <?php /* @escapeNotVerified */ echo $label; ?>
                    </a>
                </div></li>
				
            <?php endforeach;?>
			</ul>
				</div>
				</div>
			<div class="col-lg-8">	
			<?php foreach ($detailedInfoGroup as $detailname):
				 $html = $layout->renderElement($detailname);
                    if (!trim($html)) {
                        continue;
                    }
					$alias = $layout->getElementAlias($detailname);
                    $label = $block->getChildData($alias, 'title');
				 ?>
				 
				 
                <div class="data item content" id="<?php /* @escapeNotVerified */ echo $alias; ?>" data-role="content">
                    <?php /* @escapeNotVerified */ echo $html; ?>
                </div>
				<?php endforeach;?>
			</div>
        </div>
    </div>
	</div>
<?php endif; ?>
<!-------Featured Products---------------------->
 <div class="row">
            	<div class="product_slider detail_box col-lg-12">
            		<h3>Feaured Products</h3>
                    <div class="row">
                       <?php     echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('featured_products')
          ->toHtml(); ?>
                    </div>
                </div>
            </div>
<!---------------------------------------------------->
