<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
  
<footer class="col-lg-12 box-footer">
     <?php /* @escapeNotVerified */ //echo $block->getMiscellaneousHtml(); 
	 
	  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
if ($request->getFullActionName() == 'cms_index_index') {
    // is homepage
}
	 
	 
	 ?> 
	<?php if($this->getProductPage()) { ?>
	 <div class="row">
            	<div class="product_slider detail_box col-lg-12">
            		<h3>Feaured Products</h3>
                    <div class="row">
                       <?php     echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('featured_products')
          ->toHtml(); ?>
                    </div>
                </div>
            </div>
	
	<?php } if ($request->getFullActionName() == 'cms_index_index') { ?>
	<div class="top_footer">
	     <div class="container">
		     <div class="row">
			 <?php     echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('map-address')
          ->toHtml(); ?>
			     
			 </div> 
		 </div>
	  </div>	
	<?php }?> 
	  <div class="bottom_footer">
	     <div class="container">
		     <div class="row">
			 <?php     echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('footer-contact-adress')
          ->toHtml(); ?>
			     
				 <div class="footer-col col-lg-3">
				     <?php     echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('footer_links_block')
          ->toHtml(); ?>
				 </div>
				 <div class="footer-col col-lg-3">
				     <p>Join our mailing list for offers and product news</p>
					  <?php     echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('news-letter')
          ->toHtml(); ?>
					  <!--input type="email" placeholder="Your email" />
					  <input type="submit" value="Sign Up" /-->
				 </div>
			 </div>
		 </div>
	  </div>
	  <?php     echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('copyright')
          ->toHtml(); ?>
</footer>	  
	  
	  
	 