<div class="main_wapper">
    	<header class="top_head col-lg-12">
            <div class="container">
            	<div class="col-lg-4 top_left_conttact">
                	<ul>
                    	<li><span class="bold_ext">Contact Us</span></li>
                        <li>Call: 01392 275906</li>
                    </ul>
                </div>
                <div class="col-lg-4 top_logo_conttact">
                	<div class="logo"><a href="#"><img src="images/logo_pic.png"  width="200" height="90" alt="" /></a></div>
                </div>
                <div class="col-lg-4 top_right_conttact">
                	<ul>
                    	<li><a href="#"><div class="icon_pic user"></div> <span class="bold_ext">Basket</span></a></li>
                        <li><a href="#"><span class="bold_ext">Checkout</span></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="top_head_white-strip_etx col-lg-12">
            <div class="container">
                	<div class="col-lg-4 top_left">
                    	<div class="top-dark_ext">Experts in Packaging <span>since 1976</span></div>
                    </div>
                    <div class="col-lg-4 top_right">
                    	<div class="serch_section">
                        	<input type="txt" name="serch" placeholder="Serach.." />
                            <div class="icon icon-search serch_pop"></div>
                        </div>
                    </div>
              </div>
          </div>
    </div>